In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import cv2
from tqdm import tqdm
import random

In [9]:
train_xy = pd.read_csv('validate_train.csv')
train_path =  pd.read_csv('validate_train.csv')['id'].values
test_path = pd.read_csv('validate.csv')['id'].values
test_xy =  pd.read_csv('validate.csv')

In [3]:
train_path

array(['IMG2744_1', 'IMG2744_2', 'IMG2744_3', ..., 'IMG4243_3',
       'IMG4243_4', 'IMG4243_5'], dtype=object)

In [4]:
arandom = random.sample(list(train_path),(len(test_path)))

In [10]:
train_xy

             id         x         y
0     IMG2744_1 -9.380678   3.58272
1     IMG2744_2 -9.380678   3.58272
2     IMG2744_3 -9.380678   3.58272
3     IMG2744_4 -9.380678   3.58272
4     IMG2744_5 -9.380678   3.58272
...         ...       ...       ...
6895  IMG4243_1 -4.680678  35.18272
6896  IMG4243_2 -4.680678  35.18272
6897  IMG4243_3 -4.680678  35.18272
6898  IMG4243_4 -4.680678  35.18272
6899  IMG4243_5 -4.680678  35.18272

[6900 rows x 3 columns]

In [32]:
out=[]
for i in range(len(test_path)):
    coor = train_xy[train_xy['id'] == arandom[i]]
    out.append([test_path[i], coor.iloc[0]['x'], coor.iloc[0]['y']])
    
out_csv = pd.DataFrame(out, columns=['id','x','y'])
out_csv.to_csv('validate_random.csv',index=False)

In [33]:
predict = pd.read_csv('validate_random.csv')

In [34]:
predict

            id           x         y
0    IMG3914_5    8.219322  41.48272
1    IMG2810_2 -131.280678  74.38272
2    IMG3622_2   48.619322   5.68272
3    IMG3732_2  -91.180678  21.88272
4    IMG3927_4   -1.680678 -53.01728
..         ...         ...       ...
595  IMG4014_5   19.119322 -67.61728
596  IMG3389_3    2.119322 -66.91728
597  IMG4013_3  -10.180678 -25.01728
598  IMG4116_2  -95.180678  26.78272
599  IMG3674_5   25.619322 -80.11728

[600 rows x 3 columns]

In [35]:
# calculate MAE
MAE = np.abs(predict['x']-test_xy['x']) + np.abs(predict['y']-test_xy['y'])
MAE = np.sum(MAE)/1200

In [36]:
MAE

58.65499999977333

In [38]:
centroid_x, centroid_y  = np.mean(train_xy['x']),np.mean(train_xy['y'])

In [39]:
centroid_x - test_xy['x']

0     -22.517739
1     -54.617739
2     -50.917739
3      56.882261
4     -28.917739
         ...
595    48.082261
596     6.282261
597    10.082261
598    64.082261
599     4.982261
Name: x, Length: 600, dtype: float64

In [40]:
# calculate MAE
MAE = np.abs(centroid_x-test_xy['x']) + np.abs(centroid_y-test_xy['y'])
MAE = np.sum(MAE)/1200

In [41]:
MAE

43.98898516936695